body {
    background-color: rgba(156, 236, 156, 0.63);
    margin-bottom: 5em;
}

h1 {
    font-style: italic;
}

.localisationOptions {
    text-align: right;
}

.center {
    display: flex;
    justify-content: center;
}

.header {
    padding-bottom: 2em;
}

button, #reiseformularsubmit {
    display: flex;
    justify-content: center;
    background-color: rgba(103, 211, 103, 0.63);
    color: white;
    padding: 0.5em;
    border-color: rgba(58, 148, 58, 0.63);
    border-style: dot-dot-dash;
}

.grid-item-links {
    margin-left: 40px;
    margin-right: 40px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(108, 166, 108, 0.63);
}

.navbar li {
    float: left;
    color: white;
    display: block;
    padding: 14px 16px;
    text-align: center;
}

.navbar li:hover {
    background-color: black;
}

.reiseErsteller {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 10px;
}

.aTabelle {
    border-collapse: collapse;
    width: 50%;
    background-color: rgba(86, 224, 86, 0.63);
}

.aTabelle {
    border: 1px solid black;
    padding: 8px;
}

.aTabelle th {
    background-color: darkcyan;
    text-align: left;
}

.reiseTabelle tr:hover {
    background-color: rgba(86, 210, 86, 0.63);
}

.loginTitle {
    font-size: 25px;
    font-weight: bold;
}

#logOutButton {
    text-decoration: none;
    display: inherit;
    justify-content: inherit;
    background-color: inherit;
    color: inherit;
    padding: inherit;
    border-color: inherit;
    border-style: none;
}

#map {
    padding-top: 200px;
    width: 600px;
    height: 400px;
}
.hiddenP {
    visibility: hidden;
}